@font-face {
  font-family: bangers;
  src: url("bangers.regular.ttf");
  font-weight: bold;
}

html, body {
	font-family: bangers;
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
}

.titre {
	display: flex;
	justify-content: center;
	margin-bottom: 4%;
}

h1 {
	font-size: 6em;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 55px;
	font-size: 1.5em;
	background-color: white;
	color: blue;
	border: solid 2px blue;
	text-decoration: none;
	border-radius: 20px;
	margin-bottom: 4%;
}

.button:hover{
	background-color: blue;
	transition: ease-in-out 1s;
}


.button a {
	color: blue;
	text-decoration: none;
	margin-right: 10px;
}

.button img {
	animation: bounce 2s infinite;
}

.row {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 4%;
}

.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 5px;
}

.column img {
	vertical-align: middle;
	width: 100%;
}

.coffee {
	display: flex;
	font-size: 1.5em;
	justify-content: center;
}

.coffee a {
	position: relative;
	transition: 0.2s;
	color: black;
	text-decoration: none;
}

.coffee a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.coffee a:hover::after {
  width: 100%;
  left: 0;
}

.coffee img {
	vertical-align: middle;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-7px);
  }
  60% {
    transform: translateY(-2.5px);
  }
}

@media screen and (max-width: 1200px) and (orientation:portrait){
	html, body {
		flex-direction: column;
		zoom: 1.5;
	}

	h1 {
		margin-top: 150px;
	}

	.row {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.column {
		flex: 75%;
		max-width: 75%;
		padding: 0 5px;
		margin-bottom: 4%;
	}
	
	.coffee {
		display: flex;
		flex-direction: column;
}
